.navbar{
    width: 100%;
    height: 100px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}
.navbar .leftSide{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.navbar .leftSide img{
width:70px ;
}
.navbar .rightSide{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}
.navbar a:hover{
    color: darksalmon;
}
.navbar .nav-cart{
    position: relative;
}
.navbar .nav-cart span{
    position: absolute;
    top: 1px;
    right: 3px;
    background-color: darksalmon;
    color: white;    
    border-radius: 50%;
}
.navbar .menu,
.navbar .close{
    cursor: pointer;
    display: none;
}



@media only screen and (max-width:650px) {
    .navbar a{
        /* font-size: 15px; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: darksalmon;
    }
    
}
@media only screen and (max-width:750px) {
    .navbar a{
        font-size: 10px;
    }
    
}